<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      color: #333333;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    "
  >
    <div
      style="
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <div style="text-align: center; padding-bottom: 20px">
        <h1 style="margin: 0">Password Reset Request</h1>
      </div>
      <div style="text-align: left">
        <p>Dear {{name}},</p>
        <p>
          We received a request to reset your password. Please click the button
          below to reset your password:
        </p>
        <a
          href="{{link}}"
          style="
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px 0;
            text-align: center;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
          "
          >Reset Password</a
        >
        <p>
          If you did not request a password reset, please ignore this email.
        </p>
        <p>Thank you!</p>
      </div>
    </div>
  </body>
</html>
